header{
    background-color: aquamarine;
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50%;
    margin-left: 25%;
    margin-top: 75px;
    height: 100px;
    line-height: 100px;
}

